{%extends "farmer/layout.html"%}
{% block creator %}<h1>Analytc</h1>{% endblock %}
{% block action %} action="/"{% endblock %}
{%block body%}
<button id="myBtn" class="subbtn">New Tray</button>    

{% if data %}
<div class="analytics" id="analytic_container">
{% for i in data %}
<div>
<form class="ana" action="/filter" method="POST">
    {% csrf_token %}
    <input name="tray_name" value="{{i.name}}" hidden>
    <input name="start" value="{{i.start}}" hidden>
    <button type="submit" class="analytic_box"> 
        <div class="tray_number">{{i.quantity}} trays </div>
        <div class="tray_name">{{i.name}}</div>
        <div class="seedstotal">{{i.seeds}} Grams of Seeds</div>
        <div class="soilstotal">{{i.soil}} Litre of Soil</div>
        <div class="start">{{i.start}}</div> 
        <div class="end">{{i.end}}</div> 
        <div>{{i.days.days}} days</div>
        <div class="countdown"></div>
    </button>
</form>
<button class="harvest" type="submit" value="{{i.listid}}">Harvest</button>
</div>

{% endfor %}
{% else %}
<h1>Nothing here </h1>
{% endif %}
</div>
{%endblock%}