{%extends "farmer/layout.html"%}
{% block creator %}<h1>Analytc</h1>{% endblock %}
{% block action %} action="/"{% endblock %}
{%block body%}
<button id="myBtn" class="subbtn">New Tray</button>        

<div class="analytics" id="analytic_container">
{% for i, s in data %}
<div>
<form class="ana" action="/filter" method="POST">
    {% csrf_token %}
    <input name="tray_name" value="{{i.0.0}}" hidden>
    <input name="start" value="{{i.0.1}}" hidden>
    <button type="submit" class="analytic_box"> <div><span class="tray_number">{{s}} trays </span><span class="tray_name">{{i.0.0}}</span></div>
        <div class="start">{{i.0.1}}</div> <div class="end">{{i.0.3}}</div> <div>{{i.0.2.days}} days</div><div class="countdown"></div>
    </button>
</form>
</div>

{% endfor %}
</div>
{%endblock%}