{% extends "farmer/layout.html" %}
{% block body %}
{% block id_new %}{% endblock %}
<h1>Harvest Trays History</h1>
<!-- filters and search  -->
<table class="filter">
    <tr>
        <td>
            <form action="/filter" method="POST">
                {% csrf_token %}
                <input value="history" name="page" hidden>
                <select name="filter">
                    <option value="fname">Name</option>
                    <option value="start">Start</option>
                    <option value="harvest">Harvest</option>
                </select>   
                <input name="search" type="text" placeholder="Search product">
                <button type="submit">Filter</button>
            </form>
        </td>
     
    </tr>           
</table>

<!-- table header titles -->
<ol style="width: 102.5%; margin-left: -2.5%;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Count</th>
                <th scope="col">Tray ID</th>
                <th scope="col">Days</th>
                <th scope="col">Mix Weight</th>    
                <th scope="col">Seeds Weight</th>
                <th scope="col">Medium</th>
                <th scope="col">Start</th>
                <th scope="col">Best End</th>
                <th scope="col">Harvest Date</th>
                <th scope="col">Harvest</th>
            </tr>
        </thead>
    <!-- created plants list -->
        <tbody>
            {% for i in data %}
                {% if i.harvest %}
                    <tr>
                        <!-- if not harvest -->
                        <td> <li style="margin-left: 25%;"></li></td>
                        <td class="tn" style = "text-transform:capitalize;">{{i.name}}{{i.number}}</td>
                        <td>{{i.dh.days}}</td>
                        <td class="mw">{{i.medium_weight}}</td>
                        <td class="sw">{{i.seeds_weight}}</td>
                        <td class="mt">{{i.medium}}</td>
                        <td class="ts">{{i.start}}</td>
                        <td class="end">{{i.end}}</td>
                        <td>{{i.harvest_date}}</td>
                        <td>{{i.harvest_weight}} grams</td>
                    
                {%endif%}
            {% endfor %}
        </tbody>
    </table>
</ol>  
{% endblock %}