{% extends "farmer/layout.html" %}
{% block body %}
{% block id_new %}{% endblock %}
<h1>Harvest Trays History</h1>
<!-- filters and search  -->
<table class="filter">
    <tr>
        <td>
            <form action="/history" method="POST">
                {% csrf_token %}
                <input value="filter" name="type" hidden>
                <select name="filter">
                    <option value="name">Name</option>
                    <option value="start">Start</option>
                    <option value="harvest">Harvest</option>
                </select>   
                <input name="search" type="text" placeholder="Search product">
                <input name="object" value="Tray" hidden>
                <button type="submit">Filter</button>
            </form>
        </td>
    </tr>           
</table>

<!-- table header titles -->
<ol class="maintable">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>DELETE</th>
                <th class="mobile_hide" scope="col">Count</th>
                <th scope="col">L</th>
                <th scope="col">Tray ID</th>
                <th scope="col">Days</th>
                <th class="mobile_hide" scope="col">Mix Weight</th>    
                <th class="mobile_hide" scope="col">Seeds Weight</th>
                <th class="mobile_hide" scope="col">Medium</th>
                <th class="mobile_hide" scope="col">Start</th>
                <th class="mobile_hide" scope="col">Best End</th>
                <th scope="col">Harvest Date</th>
                <th scope="col">Harvest</th>
                <th class="mobile_hide" scope="col">Edit</th>
            </tr>
        </thead>
    <!-- created plants list -->
        <tbody>
            <form action="/history" method="POST" id="deletebulkform">
                {% csrf_token %}
                <input name="type" value="bulkdelete" hidden>
                <button type="submit">DELETE</button>
            </form>
            {% for i in data %}
                    <tr>
                        <td><input type="checkbox" name="dbid" value="{{i.harvest_id}}" form="deletebulkform"></td>
                        <td class="mobile_hide"> <li style="margin-left: 25%;"></li></td>
                        <td>{{i.location}}</td>
                        <td class="tn" style = "text-transform:capitalize;">{{i.name}}{{i.number}}</td>
                        <td>{{i.dh.days}}</td>
                        <td class="mw mobile_hide">{{i.medium_weight}}</td>
                        <td class="sw mobile_hide">{{i.seeds_weight}}</td>
                        <td class="mt mobile_hide">{{i.medium}}</td>
                        <td class="ts mobile_hide">{{i.start}}</td>
                        <td class="end mobile_hide">{{i.end}}</td>
                        <td>{{i.harvest_date}}</td>
                        <td>{{i.harvest_weight}} grams</td> 
                        <td>   
                            <form action="/history" method="POST">
                                <!-- CSRF TOKEN FOR FORM-->
                                {% csrf_token %}
                                <!-- GET FORM FROM PYTHON DATA SENT  -->
                                 <input name="type" value="loadedit" hidden>
                                <input value="{{i.harvest_id}}" name="id" hidden>
                                <button class="editplant" type="submit" class="subbtn">Edit</button>
                            </form>
                        </td>    
            {% endfor %}
        </tbody>
    </table>
</ol>  
{% endblock %}