{% extends "farmer/layout.html" %}
{% block creator %}<h1>New Tray</h1>{% endblock %}
{% block body %}
{% block id_new %}{% endblock %}
<div id="MyEdit" class="modal">
    <!-- NEW PLANT Modal content -->
    <div class="modal-content">
        <div>
            <span class="cls">&times;</span>
            <h4 class="edit_title">Edit Tray</h4>
        </div>
        <div>
                {{edit}}
                <button id="save_tray" type="submit" class="save">Save</button>
                
            
            <button id="delete_tray"  class="delete">DELETE</button>
        </div>
    </div>
</div>


<!-- filters and search  -->
<table class="filter">
    <tr>
        <td>
            <form action="/" method="POST">
                <select name="filter">
                    <option value="name">Name</option>
                    <option value="start">date</option>
                </select>   
                <input name="search" type="text" placeholder="Search product">
                <button type="submit">Filter</button>
            </form>
        </td>
        <td>    
        <!-- create new tray -->
        <button id="myBtn" class="subbtn">New Tray</button>        
        </td>
    </tr>           
</table>

<!-- table header titles -->
<ol style="width: 102.5%; margin-left: -2.5%;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Count</th>
                <th scope="col">Tray ID</th>
                <th scope="col">Days</th>
                <th scope="col">Mix Weight</th>    
                <th scope="col">Seeds Weight</th>
                <th scope="col">Medium</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">CountDown</th>
                <th scope="col">Harvest</th>
                <th scope="col">Edit</th>
                
            </tr>
        </thead>
    <!-- created plants list -->
        <tbody>
            {% for i in data %}
            <tr>
                <!-- if not harvest -->
                <td> <li style="margin-left: 25%;"></li></td>
                <td style = "text-transform:capitalize;">{{i.name}}{{i.number}}</td>
                <td>{{i.days.days}}</td>
                <td class="mw">{{i.medium_weight}}</td>
                <td class="sw">{{i.seeds_weight}}</td>
                <td class="mt">{{i.medium}}</td>
                <td class="ts">{{i.start}}</td>
                <td class="end">{{i.end}}</td>
                <td class="countdown" value="{{i.date}}"></td>
                <td>  
                    <button class="harvest" type="submit">Harvest</button>
                </td>
                <td>   
                    <button class="edit_tray" type="submit">Edit</button>
                </td>    
            </tr>
            <!--end if -->
            {% endfor %}
        </tbody>
    </table>
</ol>  
{% endblock %}