{% extends "farmer/layout.html" %}
{% block body %}
<div id="myModal" class="modal">
    <!-- NEW PLANT Modal content -->
    <div class="modal-content">
        <div>
            <span class="close">&times;</span>
            <h4>New Medium</h4>
        </div>
        <div>
            <form action="{% url 'index' %}" method="POST">
                {{form}}
                <button id="newtray" type="submit" class="subbtn">Create</button>
            </form>
        </div>
    </div>
</div>

<!-- filters and search  -->
<table class="filter">
    <tr>
        <td>
            <form action="/" method="POST">
                <select name="filter">
                    <option value="name">Name</option>
                    <option value="start">date</option>
                </select>   
                <input name="search" type="text" placeholder="Search product">
                <button type="submit">Filter</button>
            </form>
        </td>
        <td>    
        <!-- create new tray -->
        <button id="myBtn" class="subbtn">New Mix</button>        
        </td>
    </tr>           
</table>

<!-- table header titles -->
<ol style="width: 102.5%; margin-left: -2.5%;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Count</th>
                <th scope="col">Tray ID</th>
                <th scope="col">Days</th>
                <th scope="col">Mix Weight</th>    
                <th scope="col">Seeds Weight</th>
                <th scope="col">Medium</th>
                <th scope="col">Start</th>
                <th scope="col">end</th>
                <th scope="col">CountDown</th>
                <th scope="col">Edit</th>
                
            </tr>
        </thead>
    <!-- created plants list -->
        <tbody>
            <!-- for row -->
            <tr>
                <!-- if not harvest -->
                <td> <li style="margin-left: 25%;"></li></td>
                <td style = "text-transform:capitalize;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <form action="edittray" method="POST">
                        <input name="tray_id" type="hidden" value="idt"/>
                        <input name="plant_name" type="hidden" value="name"/>  
                        <input name="mname" type="hidden" value="mname"/>    
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="tray_updates" method="POST"> 
                        <input name="tray_id" type="hidden" value="idt"/>
                        <input name="plant_name" type="hidden" value="name"/>    
                        <button type="submit">Updates</button>
                    </form>
                </td>    
            </tr>
            <!--end if -->
            <!-- end for  -->
        </tbody>
    </table>
</ol>  
{% endblock %}