{% extends "farmer/layout.html" %}
{% block body %}
<h1>Login</h1>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="forma">
        <input class="inputs" autofocus type="text" name="username" placeholder="Username" required>
    </div>
    <div class="forma">
        <input class="inputs" name="password" type="password" placeholder="Password" required>
    </div>
    <div class="forma">    
        <input class="inputs" type="submit">
    </div>

</form> 

{% endblock %}