{% extends "farmer/layout.html" %}
{% block creator %}<h1>New Medium</h1>{% endblock %}
{% block id_new %}newmedium{% endblock %}
{% block body %}
<h1>Mediums</h1>

{% if error %}
    <h1>{{error}}</h1>
{% else %}

    <table class="filter">
        <tr>
            <td>
                <form action="/medium" method="POST">
                    {% csrf_token %}
                    <input value="filter" name="type" hidden>
                    <select name="filter">
                    <option value="name">Name</option>
                    <option value="coco">Coco</option>
                    <option value="soil">Soil</option>
                    </select> 
                    <input name="search" type="text" placeholder="Search medium">  
                    <input name="object" value="Medium" hidden>
                    <button type="submit">Filter</button>
                </form>
            </td>
            <td>
                <!-- create new plant button -->
                <button id="myBtn" class="subbtn">New Mix</button>
            </td>
        </tr>            
    </table>    

    <!-- table header titles -->
    <table class="table" id="mediumtable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Coco</th>
                <th scope="col">Soil</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
    <!-- created plants list -->
        <tbody>
            {% for i in data %}
            <tr>
                <td class="name" style = "text-transform:capitalize;">{{i.name}}</td>
                <td class="soil" value="{{i.soil}}">{{i.soil}}%</td>
                <td class="coco" value="{{i.coco}}">{{i.coco}}%</td>
                <td>
                    <form action="/medium" method="POST">
                        {% csrf_token %}
                        <input name="type" value="loadedit" hidden>
                        <input name="id" value="{{i.id}}" hidden>
                        <button class="editmedium" type="submit">Edit</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endif%}

{% endblock %}