{% extends "farmer/layout.html" %}
{% block body %}
<h1>Register User</h1>
{% if error %}
<p>{{error}}</p>
{% endif %}
<div>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="forma">
            <input class="inputs" type="text" placeholder="Username" name="username" required>
            <input class="inputs" type="email" placeholder="Email address" name="email" required>
        </div>
        <div class="forma">
            <input class="inputs" type="password" placeholder="password" name="password" required>
            <input class="inputs" type="password" placeholder="Confirm password" name="confirm" required>
        </div>
        <div class="forma">
            <input class="inputs" type="text" placeholder="reg Code" name="reg" required>
        </div>
        <div class="forma">
            <input class="inputs" type="submit">
        </div>
    </form>
</div>
</body>
{% endblock %}