{% extends "farmer/layout.html" %}
{% block body %}

<h1 class="forma">Register User</h1>
{% if error %}
<p class="forma">{{error}}</p>
{% endif %}
<div>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
    <div class="forma">
            {{form.username}} {{form.email}}
    </div>
    <div class="forma">
        {{form.password}} {{form.confirm}}
    </div>
    <div class="forma">
        {{form.regcode}}
    </div>
    <div class="forma">
        <input class="inputs" type="submit">
</div>
</form>

{% endblock %}