{% extends "farmer/layout.html" %}
{% block body %}
{% block id_new %}{% endblock %}
<h1>Reports</h1>


{% if filter %}
    <table class="report reportfilter">
        <form action="/report" method="POST">
            <tr>
                <td>{% csrf_token %}
                    {{rff}}</td>
            </tr>
            <tr>             
                <td ><button type="submit">Report</button></td>
            </tr>
        </form>
    </table>
    <h2>{{filter.type}}, {{filter.product}}, {{filter.start}}, {{filter.end}}</h2>

{% else %}
    <table class="report reportfilter">
        <form action="/report" method="POST">
            <tr>
                <td>{% csrf_token %}
                    {{fform}}</td>
            </tr>
            <tr>             
                <td ><button type="submit">Report</button></td>
            </tr>
        </form>
    </table>



{% endif %}
{% if data %}
    {% if filter.type == 'Packs' %}
    <div class="report" id="report_container">
        {% for i in data %}
            <div>
                <table class="report_table">
                    <tr><th> Product </th>
                        <td class="product">{{i.product}}</td>
                    </tr>
                    <tr><th> Medium </th>
                        <td class="medium">{{i.medium}}</td>
                    </tr>
                    <tr><th> Harvest </th>
                        <td class="date">{{i.date}}</td>
                    </tr>
                    <tr><th> Packs </th>
                        <td class="packs_QTT">{{i.packs_QTT}}</td>
                    </tr>
                    <tr><th> Packs Yield </th>
                        <td class="packs_weight">{{i.packs_weight}} gr</td>
                    </tr>
                    <tr><th> Pack Medium </th>
                        <td class="packs_medium">{{i.packs_medium}} cl</td>
                    </tr>
                    <tr><th> Pack Seeds </th>
                        <td class="packs_seeds">{{i.packs_seeds}} gr</td>
                    </tr>
                </table>              
            </div>
        {% endfor %}
    </div>
    {% elif filter.type == 'Mix' %}
        <table class=".report_table">
            <tr>
                <th>Total yield</th>
                <td>{{totalyield}} gr</td>
            </tr>
            <tr>
                <th>Total Medium</th>
                <td>{{medium}} cl</td>
            </tr>
        </table>
        <div class="report">  
            <div>
                <table class="report_table">
                    {% for i in data %}
                        {% if i.mix_seeds %}
                            <tr><th> {{i.product}} </th>
                                <td class="packs_seeds">{{i.mix_seeds}} gr</td>
                            </tr>
                        {% endif %}
                    {% endfor %}    
                </table>    
                      
            </div>
                
        </div>
    {% else %}
        <div class="report" id="report_container">
            {% for i in data %}
                <div>
                    <table class="report_table">
                        <tr><th> Product </th>
                            <td class="product">{{i.product}}</td>
                        </tr>
                        <tr><th> Medium </th>
                            <td class="medium">{{i.medium}}</td>
                        </tr>
                        {% if i.trays_QTT %}
                            <tr><th> Trays </th>
                                <td class="trays_qtt">{{i.trays_QTT}}</td>
                            </tr>
                        {% endif %}
                        <tr><th> Harvest </th>
                            <td class="date">{{i.date}}</td>
                        </tr>
                        {% if i.packs_QTT %}
                            <tr class="packinfo"><th> Packs </th>
                                <td class="packs_QTT">{{i.packs_QTT}}</td>
                            </tr>
                        {% endif %}
                        {% if i.packs_seeds %}
                            <tr class="packinfo"><th> Pack Seeds </th>
                                <td class="packs_seeds">{{i.packs_seeds}} gr</td>
                            </tr>
                        {% endif %}
                        {% if i.packs_medium %}
                            <tr class="packinfo"><th> Pack Medium </th>
                                <td class="packs_medium">{{i.packs_medium}} cl</td>
                            </tr>
                        {% endif %}
                        {% if i.packs_weight %}
                            <tr class="packinfo"><th> Packs Yield </th>
                                <td class="packs_weight">{{i.packs_weight}} gr</td>
                            </tr>
                        {% endif %}
                        {% if i.mix_weight %}
                            <tr class="mixinfo"><th> Mix Yield </th>
                                <td class="mix_weight">{{i.mix_weight}} gr</td>
                            </tr>
                        {% endif %}
                        {% if i.mix_medium %}
                            <tr class="mixinfo"><th>Mix Medium </th>
                                <td class="mix_mediumt">{{i.mix_medium}} cl</td>
                            </tr>
                        {% endif %}
                        {% if i.mix_seeds %}
                            <tr class="mixinfo"><th> Mix Seeds </th>
                                <td class="mix_seeds">{{i.mix_seeds}} gr</td>
                            </tr>
                        {% endif %}
                        {% if i.total_medium %}
                            <tr><th> Total Medium </th>
                                <td class="total_medium">{{i.total_medium}} cl</td>
                            </tr> 
                        {% endif %}
                        {% if i.total_seeds %}
                            <tr><th> Total Seeds </th>
                                <td class="total_seeds">{{i.total_seeds}} gr</td>
                            </tr>
                        {% endif %}
                        {% if i.total_weight %}
                            <tr><th> Total Yield </th>
                                <td class="total_weight">{{i.total_weight}} gr</td>
                            </tr>
                        {% endif %}
                        <tr><th>Action</th>
                            <td>
                                <form method="POST" action="/report">
                                    {% csrf_token %}
                                    <input name="id" value="{{i.id}}" hidden>
                                    <button class="report_delete_all" type="submit" name="type" value="delete">DELETE ALL</button>
                                </form>
                            </td>
                        </tr>
                    </table>              
                </div>
            {% endfor %}
        </div>

    {% endif %}

{% else %}
    <h1>Nothing here </h1>
{% endif %}

{% endblock %}